{% extends "website/base.html" %}
{% load widget_tweaks %} 

{% block title %}Contact Form{% endblock title %}

{% block content %}
<section id="contact">
    <h2 class="text-center mb-4 mt-2">Contact Me</h2>
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.name.id_for_label }}" class="form-label">Your Name</label>
                <!-- Use widget-tweaks to add a class -->
                {% render_field form.name placeholder="Enter your fullname" class="form-control" %}
            </div>
            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label">Your Email</label>
                <!-- Add a class to the email field -->
                {% render_field form.email placeholder="Enter your valid email" class="form-control" %}
            </div>
            <div class="mb-3">
                <label for="{{ form.message.id_for_label }}" class="form-label">Message</label>
                <!-- Add a class to the message field -->
                {% render_field form.message class="form-control" rows="5" %}
            </div>
            <button type="submit" class="btn btn-dark">Send Message</button>
        </form>
    </div>
    {% if messages %}
        <div>
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    {% endif %}
</section>
{% endblock content %}
