{% extends "website/base.html" %}
{% block title %}Contact Form{% endblock title %}

{% block content %}
<section id="contact">
    <h2 class="text-center mb-4">Contact Me</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Your Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Send Message</button>
    </form>
</section>


{% endblock content %}