{% extends "website/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
    <section id="home" class="text-center">
        <div class="container">
            <div class="row mt-5 d-flex justify-content-center align-items-center">
                <div class="col-md-10 text-center">
                    <h1>Hi, I'm Tshering Tamang</h1>
                    <p class="lead">A passionate Django Developer</p>
                    <a href="{% url "about_us" %}" class="btn btn-dark">Learn More About Me</a>
                </div>
              
                <div class="col-md-3">
                    <img src="{% static 'images/demo-image.jpg' %}" alt="TdevX" class="img-fluid rounded-circle" />
                </div>
            </div>
        </div>
    </section>
{% endblock content %}