{% extends "website/base.html" %}
{% load static %}
{% block title %}Projects{% endblock title %}
{% block content %}
<section id="projects">
    <h2 class="text-center mb-4 mt-2">My Projects</h2>
    <div class="row">
        <!-- Project 1 -->
        <div class="col-md-3 mb-3">
            <div class="card h-100 shadow-sm">
                {% if project_image %}
                    <img src="" class="card-img-top" alt="Project 1">
                {% else %}
                     <div class="card-img-top" style="height: 275px;">
                        <img src="" alt="Project 1">
                     </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">Django Blog</h5>
                    <p class="card-text">A full-fledged blogging platform built with Django, featuring posts, comments, and a clean admin interface.</p>
                    <a href="https://github.com/tshering10/blog" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>

        <!-- Project 3 -->
        <div class="col-md-3 mb-3">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'images/portfolio.png' %}" class="card-img-top" alt="Project 2">
                <div class="card-body">
                    <h5 class="card-title">Portfolio Website</h5>
                    <p class="card-text">A personal portfolio website showcasing my projects, skills, and experience in web development.</p>
                    <a href="https://github.com/tshering10/portfolio" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}